<!DOCTYPE html>
<%= ie_conditional_tag(:html) do %>
  <head>
    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_link_tag("application", :media => "all") %>

    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# Specifies the default name of home screen bookmark in iOS 6+ %>
    <meta name="apple-mobile-web-app-title" content="RailsStarter">

    <%= csrf_meta_tags %>
    <%= yield(:head) %>

    <title>
      <%= yield(:title) + " | " if content_for?(:title) %>
      RailsStarter
    </title>
  </head>
  <body>

    <%= yield %>

    <%# JavaScript goes at the end of the body, for performance. %>
    <%= javascript_include_tag("application") %>
    <%= yield(:javascript) %>
  </body>
<% end #/html %>
